# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
# -------------
.h5
.png
mxnet
pytorch
mylogs

# ------------
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# juyter notebook
.ipynb_checkpoints
.vscode



# version 000000000000